body {
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
}

.container {
  padding: 32px;
  width: 40%;
  margin: 64px auto;
  border-radius: 10px;
  background: #ffd6e4;
  color: #5a6275;
  max-width: fit-content;
}

.form-control {
  text-decoration: none;
  font-size: 12px;
  width: 230px;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  text-align: left;
  border-radius: 3px;

  padding: 2px, 2px;
}

.current {
  text-decoration: none;
  font-size: 12px;
  color: #5a6275;
  width: 120px;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.button {
  text-decoration: none;
  font-size: 12px;
  color: #5a6275;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  border-radius: 3px;
  width: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
}

h1 {
  font-size: 19px;
  font-weight: 300;
}

.col-3 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  right: 30px;
  top: 100px;
}

.sun-icon1 {
  font-size: 100px;
  color: #ffd87a;
}

ul {
  font-size: 13px;
  list-style: none;
  position: relative;
  bottom: -50px;
  padding: 0;
}
.degrees {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.c-f {
  font-size: 35px;
  list-style: none;
  text-align: right;
  padding: 0;
  bottom: 7px;
  right: -20px;
}
.sun-icon {
  color: #ffd87a;
}

.cloud-icon,
.cloud-rain-icon,
.sun-icon {
  font-size: 30px;
}

.cloud-icon,
.cloud-rain-icon {
  color: #414749;
}

p {
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
}

.celcius,
.fahrenheit {
  font-size: 20px;
  color: #5a6275;
  text-decoration: none;
}

.celcius:hover,
.fahrenheit:hover {
  color: whitesmoke;
}
.forecast {
  font-size: 12px;
}

.temps {
  font-weight: 200;
}

.code {
  color: #5a6275;
  text-decoration: underline yellow;
}

span {
  max-width: 600px;
  margin-left: 510px;
  margin-top: 0;
  color: #5a6275;
  font-size: 11px;
  padding: 0 auto;
  position: relative;
  bottom: 60px;
}
@media screen and (max-width: 1025px) {
  .col-3 {
    font-size: 40px;
    line-height: 50px;
    position: relative;
    right: 44px;
  }
  .container {
    padding: 32px;
    width: 100%;
    margin: 64px auto;
    border-radius: 10px;
    background: #ffd6e4;
    color: #5a6275;
  }

  .forecast {
    font-size: 10px;
  }

  h4 {
    font-size: 40px;
  }
  ul {
    margin: 0 0 40px 0;
  }
  .search-city {
    padding: 10px 20px 0 4px;
  }
}
@media screen and (max-width: 300px) {
  .form-control,
  .current,
  .button {
    position: relative;
    left: 150px;
    font-size: 10px;
  }
  span {
    font-size: 10px;
    margin: 0 auto;
  }
}
