body {
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
}

.container {
  padding: 32px;
  margin: 64px auto;
  border-radius: 10px;
  background: #ffd6e4;
  color: #5a6275;
  max-width: 400px;
}

.form-control {
  text-decoration: none;
  font-size: 12px;
  width: 230px;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  text-align: left;
  border-radius: 3px;
}

.current {
  text-decoration: none;
  font-size: 12px;
  color: #5a6275;
  width: 25px;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.button {
  text-decoration: none;
  font-size: 12px;
  color: #5a6275;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  border-radius: 3px;
  width: 70px;
  padding: 0.375rem 0.75rem;
}

h1 {
  font-size: 19px;
  font-weight: 300;
}

.col-3 {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  right: 50px;
  top: 20px;
}

.sun-icon1 {
  font-size: 100px;
  color: #f0b91a;
}

ul {
  font-size: 13px;
  list-style: none;
  position: relative;
  bottom: -30px;
  padding: 0;
  margin: 0;
}

.degrees {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
}

.c-f {
  font-size: 20px;
  font-weight: 100px;
  list-style: none;
  text-align: right;
  padding: 0;
  bottom: 100px;
  right: 15px;
}
.sun-icon {
  color: #f0b91a;
}

.forecast {
  text-align: center;
}

.temps-max {
  font-size: 13px;
  text-align: center;
}

.temps-min {
  font-weight: 200;
  font-size: 13px;
  text-align: center;
}
.icons {
  font-size: 30px;
  text-align: center;
}

.cloud-icon,
.cloud-rain-icon {
  color: #81ccf7;
}

p {
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
}

.celsius,
.fahrenheit {
  font-size: 20px;
  color: #5a6275;
  text-decoration: none;
}

.celsius:hover,
.fahrenheit:hover {
  color: whitesmoke;
}
.forecast {
  font-size: 12px;
}

.code {
  color: #5a6275;
  text-decoration: underline #f0b91a;
}

span {
  display: block;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
  bottom: 60px;
  color: #5a6275;
  font-size: 11px;
  padding: 0 auto;
}
@media screen and (min-width: 1000px) {
  .col-3 {
    font-size: 30px;
    line-height: 50px;
    position: relative;
    right: 50px;
    top: 10px;
  }
  .container {
    padding: 32px;
    max-width: 400px;

    margin: 64px auto;
    border-radius: 10px;
    background: #ffd6e4;
    color: #5a6275;
  }

  .forecast {
    font-size: 10px;
  }

  h4 {
    font-size: 40px;
  }
  ul {
    margin: 0 0 40px 0;
  }
  .search-city {
    padding: 10px 20px 0 4px;
  }
}
@media screen and (max-width: 200px) {
  .form-control,
  .current,
  .button {
    position: relative;
    top: 15px;
    left: 150px;
    font-size: 10px;
    width: 50px;
  }
  span {
    font-size: 10px;
    margin: 0 auto;
  }
}
